.header {    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
    z-index: 10;

    &--info-container {  
        height: 4rem;      
        padding: 0 1.25rem;
        display: flex;
        justify-content: space-between;
        background: lightsalmon;
    }

    &--info-section {
        display: flex;
        align-items: center;
    }

    &--logo {
        height: 70%;
        border-radius: 50%;
    }

    &--title {
        margin-left: 1.25rem;
        font-size: 1.15rem;
        font-weight: 500;
    }

    &--logout {
        margin-left: 1.25rem;
        border: none;
        background: #ffc4b3;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            font-size: 1rem;
            color: purple;
        }

        &:focus,
        &:active {
            outline: none;
        }
    }
}