<section class="login">
  <div class="login--hint">
    <p><span class="login--hint-field">Username: </span>master8@lemoncode.net</p>
    <p><span class="login--hint-field">Password: </span>12345678</p>
  </div>

  <p class="login--title">LOGIN</p>
  <form class="login--form" [formGroup]='userForm'>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName='username'>
      <mat-error *ngIf="usernameFormControl.hasError('invalidUsername')">
        El usuario no es correcto
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName='password'>
      <mat-error *ngIf="passwordFormControl.hasError('invalidPassword')">
        La contraseña no es correcta
      </mat-error>
    </mat-form-field>
    <button class="login--button" mat-raised-button color="primary" (click)="onLogin()">Login</button>
  </form>
</section>