<ul class="menu">
    <li *ngIf="!isUserLogged" class="menu--item" routerLink="/home" routerLinkActive="menu--item__selected">Home</li>
    <li *ngIf="!isUserLogged" class="menu--item" routerLink="/login" routerLinkActive="menu--item__selected">Login</li>
    <li *ngIf="!isUserLogged" class="menu--item" routerLink="/about" routerLinkActive="menu--item__selected">Acerca de</li>
    <li *ngIf="isUserLogged" class="menu--item" routerLink="/dashboard" routerLinkActive="menu--item__selected">Dashboard</li>
    <li *ngIf="isUserLogged" class="menu--item" routerLink="/galeria" routerLinkActive="menu--item__selected">Galeria</li>
    <li *ngIf="isUserLogged" class="menu--item" routerLink="/crud" routerLinkActive="menu--item__selected">CRUD</li>
    <li *ngIf="isUserLogged" class="menu--item" routerLink="/profile" routerLinkActive="menu--item__selected">Profile</li>
</ul>
